
body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: rgb(186, 185, 185);
    background-color: rgb(255, 255, 255);
}

/*Inicio de barra de navegacion*/

* {
    margin: 0px;
    padding: 0px;
}

.menu {
    padding-left: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    list-style: none;
    background-color: #757068;
    display: none;
}
nav {
    position: fixed;
    width:100%;
    
}

nav ul li a {
    color: #eee;
    text-decoration: none;
    line-height: 80px;
    display: block;
    padding-left: 1em;
}

    nav ul li a:hover {
        background: #e890a6;
    }



nav ul li:last-child {
    border-right: none;
    border: none;
}

@media screen and (min-width: 768px) {
    .menu {
        display: flex;
    }

    nav ul li {
        flex: auto;
        text-align: center;
        border-right: 1px solid #ABB2B9;
    }

        nav ul li a {
            padding-left: 0px;
        }

    #boton {
        display: none;
    }
    
}

@media screen and (max-width: 768px) {
    div nav ul li {
        border-bottom: 1px solid #7F8C8D;
    }
    nav ul li a {
        color: #e890a6;
    }
    .menu {
        background-color: rgb(255, 255, 255);
    }
    nav ul li a:hover {
        color: rgb(255, 255, 255);
        
    }
}

.bt-menu {
    display: block;
    padding: 20px;
    color: black;
    overflow: hidden;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

span {
    float: right;
    font-size: 30px;
}


footer {
    display: flex;
    flex: auto;
    line-height: 6;
    width: 70%;
    padding-left: 30px;
    margin: auto;
    background-color: #757068;
    margin-top: 20px;
}
@media (max-width: 600px){
    footer{
        width:100%;
    }
}
/*Fin de barra de navegacion*/
/*Inicion de formulario de registro*/
h2 {
    padding:20px; font-size: 30px; text-align: center;
}

a {
    color: #435160;
    text-decoration: none;
}

.login {
    
    padding: 10px;
    width: 50%;
    margin: auto;
    text-align: center;
}

input[type="text"], input[type="password"] {
    width: 90%;
    padding: 20px 0px;
    background: transparent;
    border: 0;
    border-bottom:1px solid #E5E8E8;
    outline: none;
    font-size: 16px;
}

input[type=checkbox] {
    display: none;
}



input[type="submit"] {
    background: #e890a6;
    border: 0;
    width: 90%;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

    input[type="submit"]:hover {
        background: #F5B7B1;
        animation-name: shake;
    }

.forgot {
    margin-top: 30px;
    display: block;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
}

    .forgot:hover {
        margin-top: 30px;
        display: block;
        font-size: 11px;
        text-align: center;
        font-weight: bold;
        color: #6D7781;
    }



::-webkit-input-placeholder {
    color:rgb(186, 185, 185);
    font-size: 20px;
}

.animated {
    animation-fill-mode: both;
    animation-duration: 1s;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }

    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}

.log {
    animation-fill-mode: both;
    animation-duration: 1s;
    margin-top: 30px;
}
@media (max-width: 600px) {
    .login {
        width: 100%;
    }
}

/*Fin de formulario de registro*/
/*Inicio de silider Slider*/
.slider {
    width: 95%;
    margin: auto;
    overflow: hidden;
}

    .slider ul {
        display: flex;
        padding: 0;
        width: 400%;
        animation: cambio 20s infinite alternate linear;
    }

    .slider li {
        width: 100%;
        list-style: none;
    }

    .slider img {
        width: 100%;
    }

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}


/*Fin de slider*/


/*Inicio contenido de la pagina mestra*/

#contenido{
  
    padding-top:80px;
    

}
/*Fin contenido pagna maestra*/


/*Inicio default*/
#paquetes {
    width: 70%;
    margin: auto;
    padding-top:30px;
    padding-bottom:30px;
    
}
.colum {
    display: inline-block;
    width: 33%;
    font-size: 20px;
    
}
#paquetes .colum ul li{
    padding-top:30px;
    border-bottom: 1px solid;
}
ul {
    list-style: none;
}



@media (max-width: 600px) {
    #paquetes {
        width: 100%;
    }

    .colum {
        display: block;
        width: 100%;
        padding:20px;
        
        
    }
    
}




/*Fin default*/