*{
	padding: 0px;
	margin: 0px;
}

header{
	position: fixed;
	width: 100%;
	background: #E989ED;
	height: 48px;
	border-top: 4px solid #E548EB;
	border-bottom: 4px solid #E548EB;
	z-index: 2;
}

header #logo h2{
	font-family: Verdana;
	font-size: 25px;
	color:#fff;
	margin: 10px 0px 0px 10px;
}
#abrir_menu{
	float:right;
	margin:-37px 3px 0px 0px;
	color:white;
	font-size: 40px;
	cursor:pointer;
	display: none;
}
header #menu nav{
	height: 45px;
	display: none;
}
#cerrar_menu{
	font-size: 40px;
	float: right;
	padding: 5px;
	color: white;
	opacity: 0.6;
	cursor: pointer;
}
#cerrar_menu:hover{
	opacity: 1;
}


header #menu{
	width: 450px;
	margin: -28px auto;
	-webkit-transition: left 0.7s;
	-moz-transition: left 0.7s;
	-o-transition: left 0.7s;
}
header #menu ul a{
	text-decoration: none;
	color: #fff;
	font:Verdana;
	font-size: 18px;
	padding:16px;
	border: 2px solid transparent;
}
header #menu ul a:hover{
	background: #E989ED;
	box-shadow: 2px 2px 2px #E548EB; 
	border: 2px solid #E548EB;
}

#inicio{
	width: 100%;
	background: url(../img/fondo.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	 background-size: cover;

}

#inicio img{
	padding-top: 150px;
	transition: height 0.7s;
}
#inicio h1{
	padding-bottom: 35px;
}



#titulo{
	text-align: center;
	padding: 30px 0px 30px 0px;
}


#paquetes{
	font-family: Arial;
	background: url(../img/fondo2.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	 background-size: cover;
}
#izquierda{
	float:left;
	width: 32%;
	border:1px solid black;
	text-align: center;
	height: 550px;

}

#derecha{
	float:right;
	width: 32%;
	text-align: center;
	border:1px solid black;
	height: 550px;
}

#centro{
	margin-left: 32%;
	margin-right: 32%;
	text-align: center;
	border:1px solid black;
	height: 550px;
}


#izquierda > ul{
	font-size: 15px;
	font-weight: normal; 
}
#acerca{
	height: 650px;
	background: url(../img/fondo3.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	 background-size: cover;
}
#contenido {
	color:white;
	margin-top: 180px;
	margin-right: 250px;
	margin-left: 250px;
	font-size:25px;
}
#contenido > p{
	text-align: center;
}


/*==============button===========*/

.btn {
	text-decoration: none;
	position: relative;
	display: inline-block;
	line-height: 22px;
	text-align: center;
	color: #ffffff;
	background: #d44934;
	border: none;
	box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.41);
	font-weight: bold;
	-webkit-transition: background 0.7s, color 0.7s;
	-moz-transition: background 0.7s, color 0.7s;
	padding:15px;
	font-size: 17px;
	font-family: Verdana;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-bottom:10px;
	
}


.btn:hover {
	box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
	background:#E73B20;
	color:#9F292D;
}
.btn:active {
  background: #862a1c;
  box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
}


/*=============Estilo botones contratar=============*/

.boton-preembarazo{
	
	overflow:hidden; 
	font-size: 18px;
    position: relative;
    box-sizing: border-box;
	transition: all 500ms ease;
	
	
	box-shadow: rgb(138, 42, 33) 3px 4px 0px 0px;
    background: linear-gradient(rgb(198, 45, 31) 5%, rgb(242, 68, 55) 100%) rgb(198, 45, 31);
    border-radius: 5px;
    border: 1px solid rgb(208, 39, 24);
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Arial;
    padding: 10px 35px;
    text-decoration: none;

}

.boton-preembarazo:before{
	font-family: Font-Awesome;
	content:"\f07a";
	position: absolute;
	color:#ffffff;
	
	top: 11px;
	left: -30px;
	transition: all 200ms ease;
	
}

.boton-preembarazo:hover:before {
	left: 7px;
	
	
}

.boton-preembarazo:hover{
	opacity:0.9;
	
}











