@media screen and (max-width: 1050px){
	header #menu{
		height: 100%;
		position: fixed;
		background: #E548EB;
		top:0;
		left:-100%;
		width: 300px;
		margin: 0px auto;
	
	}
	header #menu ul a{
		display: block;
	}
	#abrir_menu{
		display: block;

	}
	header #menu nav{
		display: block;
	}
}

@media screen and (max-width: 550px){
	header #menu{
		width: 80%;
	}
	#inicio img{
		height: 100px;
	}
}