body {
}


* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.menu {
    padding-left: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    list-style: none;
    background-color: #757575;
    display: none;
}


nav ul li a {
    color: #eee;
    text-decoration: none;
    line-height: 5;
    display: block;
    padding-left: 1em;
}

    nav ul li a:hover {
        background: #F48FB1;
    }



    nav ul li:last-child {
        border-right: none;
        border: none;
    }

@media screen and (min-width: 768px) {
    .menu {
        display: flex;
    }

    nav ul li {
        flex: auto;
        text-align: center;
        border-right: 1px solid #ABB2B9;
    }

        nav ul li a {
            padding-left: 0px;
        }
    #boton{
        display:none;
    }

    
}
@media screen and (max-width: 768px){
    li {
        border-bottom: 1px solid #7F8C8D;
    }
}

.bt-menu {
    display: block;
    padding: 20px;
    color: black;
    overflow: hidden;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

span {
    float: right;
    font-size: 30px;
 
   
}


footer {
    display: flex;
    flex: auto;
    line-height: 6;
    width: 70%;
    padding-left:30px;
    margin: auto;
    background-color: #757575;
    margin-top:20px;
}
