body {
    background-image: url(http://i65.tinypic.com/33fe0yx.jpg);
}

#logo{
    margin:auto;
    text-align:center;
}


#founders {
    text-align:center;
    background-color:#FBFBFB;
    border-top: 1px solid #D0D4D9;
    border-bottom:1px solid #e8e8e8;
    padding: 30px 0 30px 0;
   
}
#founders p{
    font-size:32px;
    width:500px;
    text-align: center;
   
}
#creamos{
    padding:50px;
}
#creamos h1{
    text-align:center;
    font-size: 38px;
   
}
#creamos p{
    font-size: 24px;
    width:500px;
     text-align: center;
}

#estadistica{
    background-image : url("http://content.escuelaninja.com/images/pm/dropbox2/forma.png");
    height: 820px;
    background-repeat: no-repeat;
    background-position: center;
    width:30px;
    margin:auto;
    
}
#conecciones{
    width:40%;
    text-align:left;
    margin-left:50px;
    float:left;
   
}
#archivos{
    float:right;
    margin-right:50px;
    width:40%;
    text-align:right;   
}
}
