body {
    background-color:#FBEFF8;
  
}


body * {
}

header > span > a{
    color: white;
    padding-top: 30px;
    text-decoration:none; 
}

#iniciar {
    float: right;
    width: 20%;
}

header{
    background-color: #151515;
}
header > h1 {
    padding-top:50px;
    padding-bottom: 30px;
    text-align: center;
    font-family: "Homer Simpson", cursive;
    color:#FF0040;
}

footer {
    clear: both;
}

section > div {
    display: inline-block;
    width: 33%;
}

.subTitulo {
    text-align: center;
    font: 100% sans-serif;
    font-size:40px;
    color:#585858;
}

.circulo {
    border: 1px solid #F6CED8;
    margin: auto;
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

section > div > section {
    text-align: center;
    margin: auto;
    background-color: #01DFD7;
}
footer{
    background-color: #151515;
    height:300px;
    color: white;
}

.masInfo{
    text-decoration: none;
    color: white;
    font-size: larger;

}
